.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0eae9;
  justify-content: space-between;
}

.name {
  background: linear-gradient(90deg, #352c4e, #1ab0cf);
  font-weight: bold !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.turn {
  color: rgb(199 189 22);
  font-weight: bold;
}

#root {
  width: 100%;
}